
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-black text-danger Montserrat">
        <div class="container text-danger">
            <a class="navbar-brand  justify-content-around" [routerLink]="['/movies']"><i class="fa-solid fa-film"></i> Movies</a>
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " [routerLink]="['/home']">Home </a>
                <a class="nav-item nav-link" [routerLink]="['/series']">series</a>
                <a class="nav-item nav-link"[routerLink]="['/products']">Products</a>
                
            </div>
            </div>
        </div>
    </nav>
