
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-black text-danger ">
        <div class="container text-danger">
            <a class="navbar-brand  justify-content-around" href="#">Movies</a>
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="#">Home </a>
                <a class="nav-item nav-link" href="#">series</a>
                <a class="nav-item nav-link" href="#">anime</a>
            </div>
            </div>
        </div>
    </nav>
