<footer>
    <div class="container">
        <div class="row justify-content-center pt-5 text-center text-md-left">
            <div class="col-12 text-center text-md-left ">
                <a href=""><i class="fa-brands fa-facebook icons"></i></a>
                <a href=""><i class="fa-brands fa-twitter icons"></i></a>
                <a href=""><i class="fa-brands fa-instagram icons"></i></a>
                <a href=""><i class="fa-brands fa-tiktok icons"></i></a>
                <a href=""><i class="fa-brands fa-youtube icons"></i></a>
            </div>

            <div class="col-12 text-center text-md-left my-5">
                <a href="" class="links">Privacy Policy</a>
                <a href="" class="links">Help</a>
                <a href="" class="links">Press Room</a>
                <a href="" class="links">Conditions of Use</a>
                <a href="" class="links">Box Office </a>
                <a href="" class="links">Site Index</a>
            </div>
        </div>
    </div>
</footer>
