  
   <div class="container p-5">
        <div class="row  bg-black d-flex justify-content-around">
            <div class="col-sm-4 p-5">
                <h2>{{selectedmovie?.title}}</h2>
                <app-star-rating [rating]="selectedmovie?.vote_average"></app-star-rating>
                <p>{{selectedmovie?. overview}}</p>
                <p> <span>Time Release:</span> {{ selectedmovie?.release_date | date}}</p>
                <button class="btn rounded-5 btn-outline-light ">Watch Now</button>
             </div>
             <div class="col-sm-4 p-5">
                <img src="{{basepath+selectedmovie?.poster_path}}" alt="" class="float-end rounded-5 img-thumbnail">
             </div>
             
         </div>
    </div>
   


