.container{
    margin-top: 50px;
}
.card{
    margin: 15px;
    padding: 0;
    width: 20rem;
    background: black;
    transition: 0.6s ease;
}
.card:hover{
    transform: scale(1.05);
}

.card-title{
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform:capitalize;
}

.card-text{
    color: whitesmoke;
    font-size: 0.7em;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform:capitalize;
}

.btn{
    width: 80%;
    text-transform: lowercase;
    margin-left: 30px;
    margin-bottom: 10px;
}
.btn:hover{
    color: #ED474A;
    background-color: whitesmoke;
    border: 0;
}
span{
    color: whitesmoke;
    
}
