
h2{
    font-size: 2.7em;
    color:#ED474A;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

p{
    font-size: 0.9em;
    color:whitesmoke;
    text-transform: capitalize;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn{
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
    width: 100%;
    transition: 0.7s ease;
    margin-top: 50px;
    color:#ED474A;
    
    
}

.btn:hover{
    transform: scale(1.1);
}

span{
   color:#ED474A;
   font-size: 1.1em;
}
